<footer class="footer">
    <ul>
        <li><a href="https://www.linkedin.com/in/navidanindya" target="_blank"><img src="{{ "/css/linkedin.svg" | prepend: site.baseurl }}" alt="LinkedIn" height="20" width="20"></a></li>
        <li><a href="https://github.com/nealtheguitarist" target="_blank"><img src="{{ "/css/github.svg" | prepend: site.baseurl }}" alt="GitHub" height="20" width="20"></a></li>
        <li><a href="https://nealtheguitarist.deviantart.com" target="_blank"><img src="{{ "/css/deviantart.svg" | prepend: site.baseurl }}" alt="deviantArt" height="20" width="20"></a></li>
    </ul>
</footer>